{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Welcome to EDA Page</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div> You can start exploring your data below </div>
            <div> Basic information regarding the data is also listed below </div>
        </div>
    </div>
 
{% endblock content %}