{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Welcome to GUI-EDA Website</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>This is the dummy website you can use for GUI Exploratory Data Analysis.</div>
            <div>You cannot use it for Machine Learning but maybe in future I'll it.</div>

        </div>
    </div>
    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
      </div>
{% endblock content %}


